// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "tegra114-nvidia-tegratab-common.dtsi"

/ {
	model = "Nvidia Tegra Note 7 (E1569)";

	serial@70006200 {
		bluetooth {
			clocks = <&tegra_pmc TEGRA_PMC_CLK_BLINK>;
			clock-names = "ext_clock";

			enable-gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_HIGH>;
		};
	};

	i2c@7000c000 {
		rt5640: audio-codec@1c {
			compatible = "realtek,rt5640";
			reg = <0x1c>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(W, 3) IRQ_TYPE_LEVEL_HIGH>;

			realtek,ldo1-en-gpios =
				<&gpio TEGRA_GPIO(V, 3) GPIO_ACTIVE_HIGH>;

// codec 1/2/3 en
//#define TEGRA_GPIO_CODEC1_EN	TEGRA_GPIO_PP3
//#define TEGRA_GPIO_CODEC2_EN	TEGRA_GPIO_PP1
//#define TEGRA_GPIO_CODEC3_EN	TEGRA_GPIO_PV0

			clocks = <&tegra_pmc TEGRA_PMC_CLK_OUT_1>;
			clock-names = "mclk";
		};

		temp_sensor: temperature-sensor@4c {
			compatible = "onnn,nct1008";
			reg = <0x4c>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(O, 4) IRQ_TYPE_EDGE_FALLING>;

			vcc-supply = <&vdd_1v8_vio>;
			#thermal-sensor-cells = <1>;
		};

		imu@69 {
			mount-matrix = "-1",  "0",  "0",
					"0", "-1",  "0",
					"0",  "0",  "1";

			i2c-gate {
				magnetometer@d {
					mount-matrix = "-1",  "0",  "0",
							"0", "-1",  "0",
							"0",  "0",  "1";
				};
			};
		};

	};

	extcon-keys {
		compatible = "gpio-keys";

		switch-tablet-mode {
			label = "Tablet mode";
			gpios = <&gpio TEGRA_GPIO(O, 2) GPIO_ACTIVE_LOW>;
			linux,code = <SW_TABLET_MODE>;
			wakeup-source;
		};
	};

	gpio-keys {
		key-volume-down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(R, 1) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <30>;
		};
	};

	pwrseq-wifi {
		compatible = "mmc-pwrseq-simple";

		clocks = <&tegra_pmc TEGRA_PMC_CLK_BLINK>;
		clock-names = "ext_clock";
	};

	regulator-ts {
		gpio = <&gpio TEGRA_GPIO(H, 4) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	sound {
		compatible = "nvidia,tegra-audio-rt5640-tegratab",
			     "nvidia,tegra-audio-rt5640";
		nvidia,model = "Nvidia Tegra Note 7 RT5640";

		nvidia,audio-codec = <&rt5640>;
	};

	thermal-zones {
		/*
		 * NCT72 has two sensors:
		 *
		 *	0: internal that monitors ambient/skin temperature
		 *	1: external that is connected to the CPU's diode
		 *
		 * Ideally we should use userspace thermal governor,
		 * but it's a much more complex solution.  The "skin"
		 * zone exists as a simpler solution which prevents
		 * tablet from getting too hot from a user's tactile
		 * perspective. The CPU zone is intended to protect
		 * silicon from damage.
		 */

		nct72-skin-thermal {
			polling-delay-passive = <1100>; /* milliseconds */
			polling-delay = <15000>; /* milliseconds */

			thermal-sensors = <&temp_sensor 0>;

			trips {
				skip_alert_trip: skin-alert {
					/* throttle at 57C until temperature drops to 56.5C */
					temperature = <57000>;
					hysteresis = <500>;
					type = "passive";
				};

				skin-crit {
					/* shut down at 65C */
					temperature = <65000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map-skip {
					trip = <&skip_alert_trip>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		nct72-cpu-thermal {
			polling-delay-passive = <1100>; /* milliseconds */
			polling-delay = <15000>; /* milliseconds */

			thermal-sensors = <&temp_sensor 1>;

			trips {
				cpu_alert_trip: cpu-alert {
					/* throttle at 75C until temperature drops to 74.5C */
					temperature = <75000>;
					hysteresis = <500>;
					type = "passive";
				};

				cpu-crit {
					/* shut down at 105C */
					temperature = <105000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map-cpu {
					trip = <&cpu_alert_trip>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};
};
