// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "tegra20-asus-transformer-common.dtsi"

/ {
	model = "ASUS Eee Pad Transformer TF101";
	compatible = "asus,tf101", "nvidia,tegra20";

	i2c@7000c000 {
		magnetometer@e {
			mount-matrix = "-1",  "0",  "0",
					"0",  "1",  "0",
					"0",  "0", "-1";
		};

		/* Atmel MXT1386 Touchscreen */
		touchscreen@5b {
			compatible = "atmel,maxtouch";
			reg = <0x5b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(V, 6) IRQ_TYPE_LEVEL_LOW>;

			reset-gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_LOW>;

			vdda-supply = <&vdd_3v3_sys>;
			vdd-supply  = <&vdd_3v3_sys>;

			atmel,wakeup-method = <ATMEL_MXT_WAKEUP_I2C_SCL>;
		};

		dsp@60 {
			compatible = "asus,tf101-dsp", "fortemedia,fm34";
		};

		gyroscope@68 {
			mount-matrix =	 "0",  "1",  "0",
					"-1",  "0",  "0",
					 "0",  "0",  "1";

			i2c-gate {
				accelerometer@f {
					mount-matrix =	"-1",  "0",  "0",
							 "0", "-1",  "0",
							 "0",  "0", "-1";
				};
			};
		};
	};

	dock_battery: battery-cell {
		compatible = "simple-battery";
		device-chemistry = "lithium-ion-polymer";
		charge-full-design-microamp-hours = <3300000>;
		energy-full-design-microwatt-hours = <24000000>;
		operating-range-celsius = <0 45>;
	};

	i2c-dock {
		compatible = "i2c-hotplug-gpio";

		#address-cells = <1>;
		#size-cells = <0>;

		interrupt-parent = <&gpio>;
		interrupts = <TEGRA_GPIO(X, 5) IRQ_TYPE_EDGE_BOTH>;
		detect-gpios = <&gpio TEGRA_GPIO(X, 5) GPIO_ACTIVE_LOW>;

		i2c-parent = <&lvds_ddc>;

		embedded-controller@19 {
			compatible = "asus,ec-dock";
			reg = <0x19>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(S, 2) IRQ_TYPE_LEVEL_LOW>;

			request-gpio = <&gpio TEGRA_GPIO(S, 3) GPIO_ACTIVE_LOW>;
			asus,dockram = <&dockram_dec>;

			battery {
				compatible = "asus,ec-battery";
				monitored-battery = <&dock_battery>;
			};

			charger {
				compatible = "asus,ec-charger";
				monitored-battery = <&dock_battery>;
			};

			keyboard-ext {
				compatible = "asus,ec-keys";
			};

			led {
				compatible = "asus,ec-led";
			};

			serio {
				compatible = "asus,ec-kbc";
			};
		};

		dockram_dec: dockram@1b {
			compatible = "asus,dockram";
			reg = <0x1b>;
		};
	};

	extcon-keys {
		compatible = "gpio-keys";

		switch-dock-hall-sensor {
			label = "Lid";
			gpios = <&gpio TEGRA_GPIO(S, 4) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			debounce-interval = <500>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};
	};
};
