// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "tegra114-nvidia-tegratab-common.dtsi"

/ {
	model = "Nvidia Tegra Note 7 (E1569)";

	regulator-ts {
		gpio = <&gpio TEGRA_GPIO(H, 4) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};
